<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helply">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application


        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDWXXd1pnckpXzVzTJyfJQHaf4lQ9dDuaI"/>

        <activity android:name=".menu.SettingsActivity"/>
        <activity android:name=".login.RegistrationActivity" />
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".details.AnnouncementDetailsActivity"/>
        <activity android:name=".menu.CreateAnnouncementActivity"/>
        <activity android:name=".menu.TasksToDoActivity"/>
        <activity android:name=".menu.RankingActivity"/>
        <activity android:name=".details.MyAnnouncementDetailsActivity"/>
        <activity android:name=".popup.TaskPopUpWindow"/>
        <activity android:name=".popup.FinishTaskPopUpWindow"/>
        <activity android:name=".popup.MapActivity"/>
        <activity android:name=".details.TaskToDoDetailsActivity"/>
        <activity android:name=".menu.MyAnnouncementsActivity"/>
        <activity android:name=".details.OpinionsActivity"/>

        <activity
            android:name=".popup.ListPopUpWindow"
            android:theme="@style/AppTheme.ListPupUpWindowTheme"/>


        <activity android:name=".menu.AnnouncementsMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>